#containerIntro-ourStory {
    background-color: black;
    background: linear-gradient(
                     rgba(0, 0, 0, .6), 
                     rgba(0, 0, 0, .6)),
                     url("../../images/junction_img/individual.jpg");
    background-repeat: no-repeat;
    background-position: center;
    max-height: 600;
}

.wrapper1-ourStory {
    display: grid;
    max-height: 600;
    grid-template-areas:
        "header1"
        "header2"
        ".";
    align-content: center;
}

.wrapperTwo-grid-left{
    max-width: 25rem;
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    font-family: Montserrat, sans-serif;
}

.wrapperTwo-grid-right{
    max-width: 60rem;
    font-size: 19px;
    text-align: justify;
    line-height: 25px;
    font-family: Montserrat, sans-serif;
    margin-top: 2.2rem;
}

.headerLogoCommunity{
    grid-area: header1;
}

.header2LogoCommunity{
    margin-left: 10rem;
    text-align: left;
    font-weight: 400;
    font-size: 19px;
    line-height: 25px;
    max-width: 700px;
}

.containerMain-ourStory {
    display: grid;
    height: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 15%;
    margin-right: 15%;
    column-gap: 5%;
    row-gap: 1%;
    align-content: center;
    grid-template-areas:
        ". first second ."
        ". third fourth ."
}

.container1-ourStory {
    grid-area: first;
    align-content: center;
}

.container2-ourStory {
    grid-area: second;
    align-content: center;
}

.container3-ourStory {
    grid-area: third;
    align-content: center;
}

.container4-ourStory {
    grid-area: fourth;
    align-content: center;
}


@media(max-width: 800px) {
    .containerMain-ourStory {
        display: grid;
        height: auto;
        margin-top: 10%;
        margin-bottom: 20%;
        margin-left: 15%;
        margin-right: 15%;
        column-gap: 5%;
        row-gap: 1%;
        align-content: center;
        grid-template-areas:
            "first"
            "second"
            "third"
            "fourth"
    }
    .header2LogoCommunity{
        margin-left: 0rem;
        text-align: left;
        font-weight: 400;
        font-size: 19px;
        line-height: 25px;
        max-width: 700px;
    }
}