@font-face {
    font-family: Montserrat;
    src: url('https://fonts.googleapis.com/css?family=Montserrat:900');
}

#containerIntro-ourPartners {
    background-color: black;
    background: linear-gradient(
                     rgba(20,20,20, .5), 
                     rgba(20,20,20, .5)),
                     url("../../../images/junction_img/OurPartnersCoverImg.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.wrapper1-ourPartners {
    display: grid;
    max-height: auto;
    margin: 10%;
    grid-template-areas:
        "header1"
        "header2"
}

.containerIntro {
    padding: 5rem;
    text-align: center;
}

#containerIntro-team { /*should be moved to team */
    background-image: url("../../../images/junction_img/team.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

.headerLogoCommunity {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 0;
    margin-top: 30vh;
    text-align: start;
    max-width: 35vw;
}

#header2LogoCommunity {
    margin-left: 10rem;
    text-align: left;
    font-weight: 400;
    font-size: 19px;
    line-height: 25px;
    max-width: 700px;
    width: 70vw;
    float: right;
}

.wrapper1-ourpartners {
    height: 100vh;
    position: relative;
    justify-content: center;
    display: grid;
}

.wrapper {
    max-height: fit-content;
    padding: 5rem 10rem 5rem 10rem;
    text-align: center;
}

.flexbox {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    margin: 0 auto;
}

.flexbox-ourpartners {
    padding-left: 150px;
    display: inline-flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-between;
    text-align: center;
    align-self: center;
    margin: 0 auto;
}

.wrapperTwo-flexbox1-left1 {
    align-self: center;
    max-width: 350px;
    font-size: 35px;
    font-weight: 700;
    font-family: Montserrat, sans-serif;
    text-align: left;
    display: block;
}

.wrapperTwo-flexbox1-right {
    display: block;
    align-self: center;
    max-width: 50%;
    padding-left: 50px;
    margin-bottom: 16px;
    font-size: 20px;
    text-align: left;
    line-height: 30px;
    font-family: Montserrat, sans-serif;
}

#ourpartners-img {
    height: 50px;
    width: auto;
    padding: 20px;
}

#participantButton,
#partnerButton,
#volunteerButton {
    color: black;
    font-family: Montserrat, sans-serif;
    font-size: 25px;
    width: 200px;
    height: 40px;
    padding-top: 10px;
    margin: 40px;
    border-radius: 25px;
    background-color: aqua;
    text-align: center;
}

@media(max-width: 800px) {
    .wrapper {
        padding: 2rem;
        height: fit-content;
    }
    .flexbox {
        justify-content: space-evenly;
    }
    .flexbox-ourpartners {
        padding-left: 0px;
        justify-content: space-evenly;
    }
    .wrapperTwo-flexbox1-right {
        max-width: 80%;
        display: block;
    }
}